<main class="flex flex-col items-center h-full  gap-10">
    <div class="max-w-40 h-auto p-4">
        <img class="w-full h-full" src="assets/images/logo.png" alt="Logo" />
    </div>
    <ul class="w-full">
        <li  class="bg-[#eff1fd] xl:p-5 md:p-4 p-2 relative">
            <div class="h-full w-1 bg-pink-500 absolute right-0 top-0"></div>
            <a routerLink="/allBooks" class="flex items-center xl:space-x-12 lg:space-x-9 space-x-2 w-full">
                <i class="pi pi-book xl:text-base md:text-sm text-xs"></i>
                <p class="grow font-semibold xl:text-base md:text-sm text-xs">Books</p>
            </a>   
        </li>
    </ul>
</main>
