<main class="flex justify-center items-center m-20">
  <div class="rounded-2xl bg-white overflow-hidden">
    <div class="grid grid-cols-5">
      <div class="col-span-3 xl:p-20 md:p-10 p-4 flex flex-col gap-6">
        <p class="text-2xl font-bold">
          Please enter your email and password to access you account
        </p>
        <form [formGroup]="loginForm"
        (ngSubmit)="login()" class="w-full flex flex-col gap-5">
          <div>
            <input
              type="email"
              id="email"
              pInputText
              placeholder="Email address *"
              formControlName="email"
            />
            @if(loginForm.get('email')?.hasError('required')&&
            loginForm.get('email')?.touched){
            <p class="text-xs font-medium text-pink-500">
              email is required
            </p>
            }
            @if(InvalidEmail){
            <p class="text-xs font-medium text-pink-500">
              Wrong Email address
            </p>
            }
          </div>
          <div>
            <p-password
              type="password"
              id="password"
              [toggleMask]="true"
              [feedback]="false"
              placeholder="Password *"
              formControlName="password"
            />
            @if(loginForm.get('password')?.hasError('required')&&
            loginForm.get('password')?.touched){
            <p class="text-xs font-medium text-pink-500">
              password is required
            </p>
            }
          </div>
          <p class="text-sm text-blue-800">forget password?</p>
          <button
          type="submit"
            class="bg-blue-800 py-3 px-8 text-white font-semibold rounded-xl w-fit"
          >
            sign In
          </button>
        </form>
        <hr />
        <div class="w-28 h-auto">
          <img class="w-full h-full" src="assets/images/logo.png" alt="Logo" />
        </div>
      </div>
      <div class="col-span-2 bg-slate-800 w-full h-full">
        <img
          class="w-full h-full object-cover"
          src="../../../assets/images/bookshelves.png"
          alt="books"
        />
      </div>
    </div>
  </div>
</main>
