/* You can add global styles to this file, and also import other style files */
@layer tailwind-base,primeng,tailwind-utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

        
@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

*,
::before,
::after {
  box-sizing: border-box;
}
#app {
  background-color: #eff1fd;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.p-inputtext{
  width: 100%;
  border-radius: 12px;
  padding: 0.5rem 0.75rem;
}
.p-input-icon-right{
  width: 100%;
}
.p-menubar {
  padding: 0rem; 
 background: white;
 color: none; 
 border: none; 
 border-radius: 0px;
}
.p-menuitem-link{
  padding:0.2rem;
}
.p-submenu-list{
  right: 0rem;
}
@media screen and (max-width: 960px) {
  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
      text-wrap: nowrap;
      width:auto;
      right: 0;
      left: auto;
  }
}